
.side-bar{
    position: fixed;
    top: 70px;
    left:0;
    bottom: 0;
    display: grid;
    width:250px;
    background-color: pink;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-template-columns: 200px;

}
.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
.circular .profile-img img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }