<header class="header">
    <nav class="navbar navbar-expand-sm bg-header">
        <div class="container-fluid">
            <div>
                <a class="btn navbar-brand m-1 d-inline-block text-link" data-bs-toggle="offcanvas" href="#offcanvasExample"
                    role="button" aria-controls="offcanvasExample">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <ul class="navbar-nav p-1 fs-5 d-inline-block">
                    <li class="nav-item ms-sm-2">
                        <a class="nav-link text-link" aria-current="page" href="{% url 'home'%}">Home</a>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav p-1 fs-5">
                <li class="nav-item ms-3 ">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' user.id %}"><img class="profile-pic" src="{{ user.profile.image.url }}"></a>
                    {% endif %}
                </li>
            </ul>


        </div>
    </nav>

</header>