{% extends "home/base2.html" %}
{% block gradparent %}
<main class="vh-100 text-center">
    <div class="container h-100">
        <div class="row d-flex flex-row justify-content-center align-items-center h-100" style="padding-bottom: 200px;">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div class="p-3">
                        <h2 class="title-div">Find out about UVA</h2>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <div class="p-3">
                        <div class="search-div">
                            <form class="d-flex me-auto" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row row-cols-2 row-cols-sm-4 mt-5 fs-1 px-5">
                        <div class="col">
                            <div class="home-icon">
                                <a class="nav-link" href="{% url 'resale-home' %}"><i
                                        class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="home-icon">
                                <a class="nav-link" href="{% url 'housing-home' %}"><i
                                        class="fa-solid fa-house-chimney"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="home-icon">
                                <a class="nav-link" href="{% url 'course-home' %}"><i
                                        class="fa-solid fa-graduation-cap"></i></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="home-icon">
                                <a class="nav-link" href="{% url 'event-home' %}"><i
                                        class="fa-solid fa-calendar"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>
{% endblock gradparent %}