{% extends "home/base.html" %}
{% block content %}
    <div class="main">  
        <div class="main-grid">
            <div class="intro-div">
                    <h2 class="title-div">Find out about UVA</h2>
            </div>
            <div class="search-div">
                <input class="search-input">
            </div>
            <div class="section-div">
                <div class="sections">
                    <div class="icon-div">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i><p class="icon-text">Resale</p></a>
                    </div>
                    <div class="icon-div">
                        <a href="#"><i class="fa-solid fa-house-chimney"></i><p class="icon-text">Housing</p></a>
                    </div>
                    <div class="icon-div">
                        <a href="#"><i class="fa-solid fa-graduation-cap"></i><p class="icon-text">Courses</p></a>
                    </div>
                    <div class="icon-div">
                        <a href="#"><i class="fa-solid fa-calendar"></i><p class="icon-text">Events</p></a>
                    </div>
                </div>
            </div>
        </div>





    </div>
    <!-- <div class="container">
            <div class="grid">
                <div class="row">
                    <div class="col-lg-12">
                    <div class="top-text header-text">
                        <h6>A UVA Community</h6>
                        <h2>Search anything you want to know</h2>
                        
                    </div>
                    </div>
                    <div style="padding-left: 270px;">
                        <input style="width:400px;height:50px;">
                    </div>
                    <div class="col-lg-10 offset-lg-1">
                    <ul class="categories">
                        <li><a href="#"><span class="icon"><img src="/media/market.png" alt="Vehicle"></span> Resale</a></li>
                        <li><a href="#"><span class="icon"><img src="/media/housing.png" alt="Vehicle"></span> Housing</a></li>
                        <li><a href="#"><span class="icon"><img src="/media/course.png" alt="Shopping"></span> Courses</a></li>
                        <li><a href="#"><span class="icon"><img src="/media/event.jpeg" alt="Travel"></span> Events</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            
        </div> -->
{% endblock content%}