{% extends "user/logbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-in-box">
        <form method="POST">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class ="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <fieldset class ="form-group">
                {{ form|crispy}}
            </fieldset>
            <div class = "form-group" style="margin-bottom:0; margin-top:20px;">
                <button class ="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="or-session">
            <hr class="or-bar">
            <div class="or-text">or</div>
            <hr class="or-bar">
            <div ></div>
                <!-- <a href="{% url 'register' %}"><button class="btn btn-outline-info">Sign In With Email</button></a> -->
                <button id="my-signin2" class="btn btn-outline-info">Sign In With Email</button>
            <script>
                function onSuccess(googleUser) {
                  console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                }
                function onFailure(error) {
                  console.log(error);
                }
                function renderButton() {
                  gapi.signin2.render('my-signin2', {
                    'scope': 'profile email',
                    'width': 240,
                    'height': 50,
                    'longtitle': true,
                    'theme': 'dark',
                    'onsuccess': onSuccess,
                    'onfailure': onFailure
                  });
                }
              </script>
        </div> 
    </div>
{% endblock content%}