{% extends "home/base2.html" %}
{% load crispy_forms_tags %}
{% block sidebar %} {% include "user/profile-sidebar.html" %}{% endblock sidebar %}
{% block content %}
<div id="main">
    <div class="container" style="min-width: 650px;padding: 30px 30px;">
        <form method="POST" enctype="multipart/form-data" style="line-height: 1.5; font-size: 15px;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">Profile Update</legend>
                <div class="d-flex text-start justify-content-center ">
                    <div class="row gx-5 gy-3 col-8 justify-content-center">
                        {{ u_form|crispy}}  
                        {{ p_form|crispy}} 
                        <div class="form-group" >
                            <button class="btn btn-danger" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock content %}