<nav class="navbar navbar-expand-sm">
    <div class="collapse navbar-collapse">
      <div class="position-fixed top-55 bottom-0 start-0 d-flex flex-column flex-shrink-0 text-white bg-org side-bar">
        <ul class="nav nav-pills flex-column mb-auto profile-icon">
          <li class="nav-item">
            <!-- <a href="#" class="nav-link active" aria-current="page"> -->
            <a href="{% url 'profile' user.id %}" class="nav-link text-nav mt-3">
              <i class="fa-solid fa-blog"></i>
              <div class="profile-icon-text">posts</div>
            </a>
          </li>
          <li>
            <a href="{% url 'profile-likes' user.id %}" class="nav-link text-nav mt-3">
              <i class="fa-solid fa-heart"></i>
              <div class="profile-icon-text">likes</div>
            </a>
          </li>
          <li>
            <a href="{% url 'profile-comments' user.id %}" class="nav-link text-nav mt-3">
              <i class="fa-solid fa-comment-dots"></i>
              <div class="profile-icon-text">comments</div>
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropup">
          <a href="#" class="text-center text-white text-decoration-none fs-4" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-gear"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Password</a></li>
            <li><a class="dropdown-item" href="#">Report</a></li>
            <li><a class="dropdown-item" href="#">Privacy</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout'%}">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>