{% extends "home/base.html" %}
{% block content %}
<div class="col-md-8">
    {% block child %}
    {% endblock child%}
</div>
<div class="col-md-4 sidebar-position px-md-5">
    <div class="content-section">
        <li class="list-group-item list-group-item-light">
            <a href="{% url 'course-home' %}">
                Course Home
            </a>
        </li>
        <li class="list-group-item list-group-item-light">
            <a href="{% url 'course-post-create' %}">
                Create new post
            </a>
        </li>
    </div>
</div>
<div class="p-3 text-center">
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif%}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
        href="?page={{ num }}">{{ num }}</a>
        {% endif%}
        {% endfor %}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
        {% endif %}
</div>
{% endblock content %}