{% extends "course/base.html" %}
{% load crispy_forms_tags %}
{% block child %}

<article class="media content-section mb-3">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata" style="border: none;">
            <h4 class="mr-2" href="{% url 'profile' post.author.id %}">{{ post.author }}</h4>
            <p class="card-text d-inline-block"><small class="text-muted">{{post.date| timesince}} ago</small></p>
            {% if post.author == user %}
            <div class="d-inline-block" style="position: absolute; right: 29px;">
                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1 me-2"
                    href="{% url 'course-post-update' post.id %}">Update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 mb-1 me-2"
                    href="{% url 'course-post-delete' post.id %}">Delete</a>
            </div>
            {% endif %}
            <div class="housing-home">
                <div class="card my-1 p-3" style="background-color:#fafafa">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h3 class="card-title"><a class="article-title d-inline-block"
                                        href="{% url 'course-post-detail' post.id %}">{{post.title}}</a></h3>
                                <p class="card-text">{{post.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</article>
{% include "home/post_comments.html" %}

{% endblock child %}