{% extends "housing/base.html" %}
{% load crispy_forms_tags %}
{% block child %}

<article class="media content-section mb-3">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata" style="border: none;">
            <h4 class="mr-2" href="#">{{ post.author }}</h4>
            <p class="card-text d-inline-block"><small class="text-muted">{{post.date| timesince}} ago</small></p>
            {% if post.author == user %}
            <div class="d-inline-block" style="position: absolute; right: 29px;">
                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1 me-2"
                    href="{% url 'housing-post-update' post.id %}">Update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 mb-1 me-2"
                    href="{% url 'housing-post-delete' post.id %}">Delete</a>
            </div>
            {% endif %}
            <div class="housing-home">
                <div class="card my-1 p-3" style="background-color:#fafafa">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h3 class="card-title"><a class="article-title d-inline-block"
                                        href="{% url 'housing-post-detail' post.id %}">{{post.title}}</a></h3>
                                <p class="card-text">{{post.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</article>


<div>
    <div class="resale card mb-3" style="background-color:#fafafa">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                    <div class="card-body p-4">
                        <div class="content-section p-0">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group mb-0">
                                    {{ comment_form|crispy}}
                                </fieldset>
                                <div class="form-group mb-2 d-flex justify-content-end">
                                    <button class="btn btn-secondary btn-sm" type="submit">Comment</button>
                                </div>
                            </form>
                        </div>
                        {% for comment in comments %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <p>{{comment.content}}</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <img class="rounded-circle d-inline-block me-2"
                                            style='width: 25px; height: 25px;'
                                            src="{{ comment.author.profile.image.url }}">
                                        <p class="card-text d-inline-block"><strong
                                                class="text-muted">{{post.author}}</strong></p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        {% if comment.author == user %}
                                        <a class="btn btn-outline-danger btn-sm me-3"
                                            href="{% url 'housing-comment-delete' comment.id %}">Delete</a>
                                        {% else %}
                                        <div class="dropdown reply">
                                            <a class="me-3" role="button" data-bs-toggle="dropdown"
                                                aria-expanded="false" data-bs-auto-close="outside">
                                                <u>Reply</u>
                                            </a>
                                            <form class="dropdown-menu dropdown-menu-end p-4" method="POST"
                                                enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <fieldset class="form-group mb-0">
                                                    {{ comment_form|crispy}}
                                                </fieldset>
                                                <div class="form-group mb-2 d-flex justify-content-end">
                                                    <button class="btn btn-secondary btn-sm"
                                                        type="submit">reply</button>
                                                </div>
                                            </form>
                                        </div>
                                        {% endif %}
                                        <p class="card-text"><small class="text-muted">{{comment.time}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock child %}